/* components/Layout.module.css */
.layoutWrapper {
  display: flex;
  flex-direction: column;
  background-color: #f0f3f5;
  position: relative;
  overflow-x: hidden;
}

.mainContent {
  flex: 1;
  width: 100%;
  position: relative;
}
